@model nb.BlogLibrary1.Blog

<div>
    <h4>Blog</h4>
    <hr />
    <div>
        <h5>
            @Html.DisplayFor(model => model.Title)
        </h5>
        
        <div>
            <image src="/images/@Model.ImageName" class="img-thumbnail"></image>
        </div>
        <div>
            @Html.DisplayFor(model => model.BlogText)
        </div>
     
        
    </div>
</div>

